/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Mukta', sans-serif;
}
#wrapper{
	width: 100%;
	height: 100vh;
	background: white;
}
#header{
	width: 100%;
	height: 80px;
	background: #222222;
	position: fixed;
}


.logo{
	width: 10%;
	height: 80px;
	background: #222222;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
}
.logo img{
	height: 60px;
}




.topbar {
	width: 90%;
	height: 30px;
	background: #222222;
	float: right;
}
.topbar ul{
	list-style: none;
}
.topbar ul li{
	float: right;
	margin-right: 25px;
	margin-top: 10px;
}
.topbar ul li a{
	color: white;
	text-decoration: none;
}
.topbar ul li a:hover{
	color: #696969;
}
.texttop{
	font-size: 12px;
}





.menu {
	width: 62.7%;
	height: 50px;
	background: #222222;
	float: right;
	text-align: left;
}
.menu ul{
	display: inline-flex;
	list-style: none;
}
.menu ul li{
	magrin: 15px;
	padding: 15px;
	background: #222222;
}
.menu ul li a{
	text-decoration: none;
	color: white;
}
.menu ul :hover{
	background: #696969;
}
.sub{
	display: none;
}
.menu ul li:hover .sub{
	display: block;
	position: absolute;
	margin-top: 15px;
	margin-left: -15px;
	background: #222222;
}
.menu ul li:hover .sub ul{
	display: block;
}



.subdeals{
	display: none;
}
.menu ul li:hover .subdeals{
	display: block;
	position: absolute;
	margin-top: 15px;
	margin-left: -15px;
	background: #222222;
}
.menu ul li:hover .subdeals ul{
	display: block;
}


.subsupport{
	display: none;
}
.menu ul li:hover .subsupport{
	display: block;
	position: absolute;
	margin-top: 15px;
	margin-left: -15px;
	background: #222222;
}
.menu ul li:hover .subsupport ul{
	display: block;
}


.suv{
	display:none;
}
.menu ul li:hover .suv{
	display: block;
	position: absolute;
	margin-top: 15px;
	margin-left: -15px;
	background: #222222;
}
.menu ul li:hover .suv ul{
	display: block;
}


.textmenu{
	font-size: 16px;
}
.texxt{
	font-size: 13px;
}


.searchbox {
	width: 20%;
	height: 50px;
	background: #222222;
	blackground-size: cover;
	float: right;
	display: flex;
	align-items: center;
	padding-left: 90px;
}
.searchbox input[type="text"]{
	width: 70%;
	padding: 5px;
	padding-right: 5px;
	background: white;
	border: none;
	box-sizing: border-box;
	border-radius: 0px;
	outline: none;
	font-size: 15px;
	color: black;
}
.icon {
	background: black;
	width: 30px;
	height: 54.5%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.fa-search {
	color: white;
}
.icon2 {
	background: #222222;
	width: 30px;
	height: 54.5%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
}
.fa-shopping-basket {
	color: white;
}



#content{
	width: 100%;
	height: 840px;
	background: white;
}
.left{
	width: 50%;
	height: 810px;
	float: left;
	background: white;
	padding-top: 30px;
}
.left img{
	height: 800px;
	float: right;
}
.rightone{
	width: 50%;
	height: 70px;
	background: white;
	float: right;
	padding-top: 350px;
}
.righttwo{
	width: 50%;
	height: 380px;
	float: right;
	padding-top: 40px;
}

.buildyours{
	width: 150px;
	height: 40px;
	background: white;
	float: left;
	margin-left: 280px;
	border: 2px solid #222222;
	display: flex;
}
.textbuid{
	text-decoration: none;
	color: #222222;
	width: 150px;
	height: 40px;
	background: white;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
}
.textbuid:hover{
	color: white;
	background: #222222;
}
.textcontent{
	width: 450px;
	height: 140px;
}

#footer{
	width: 100%;
	height: 85px;
	background: #222222;
}
.footertwo{
	width: 45%;
	height: 40px;
	background: #222222;
	float: left;
	padding-top: 10px;
}
.footertwo ul{
	list-style: none;
}
.footertwo ul li {
	float: right;
	margin-left: 20px;
}
.footertwo ul li a{
	color: white;
	text-decoration: none;
	font-size: 15px;
}
.footertwo ul li a:hover {
	text-decoration: underline;
}
.coppyright{
	float: right;
	margin-right: 174px;
	color: #696969;
	font-size: 12px;
	margin-top: 5px;
}

.footerthree{
	float: right;
	width: 30%;
	height: 40px;
	background: #222222;
	padding-top: 10px;
}
.footerthree img {
	height: 30px;
	margin-right: 20px;
}
.footerone{
	width: 100%;
	height: 35px;
	background: #222222;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footerone img{
	height: 30px;
}