/* CSS Document */
#particles-js{
	background: black;
	height: 100vh;
	background-size: cover;
	width:100%;
}
/*
.banner{
	background: black;
	height: 900px;
padding-top: 400px;
}
*/
.text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.fab{
	margin-right: 20px;
	color: #262525;
}
.icon{
	position: absolute;
	top: 56%;
	left: 50%;
	transform: translate(-50%, -44%);
}

.croll{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -40%);
}
.mouse{
	color: aliceblue;
	font-size: 40px;
	display: inline-block;
	padding-top: 20px;
	transform: all 0.3s ease;
}
.bounce{
	border-radius: 50px;
	animation: bounce 2s infinite;
}
@keyframes bounce{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-20px);
	}
	100%{
		transform: translateY(0);
	}
}
.por a{
	margin-left: 10px;
	color: black;
}
.img-fluid{
	width: 300px;
	height: 300px;
}
.testimonial-item{
	transition: transform .2s; /* Animation */
}
.testimonial-item:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
label{
	float:left
}
.md-form{
	border-top: none;
	
}
.btn{
	width: 200px;
	height: 40px;
	background: none;
	border: solid 1px;
	border-radius: 25px;
}
.btn:hover{
	background: black;
}
.btn p:hover{
	color: white;
}
.footer{
	background: black;
}
.fas{
	color: #262525;
}
.icon-bot{
	color: black;
}
.porr a{
	color: black;
	text-decoration: none;
}
.self video{
	height: auto !important;
	width: 100% !important;
	}


@media (max-width:414px){
	.md-form {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}
	.h1, h1 {
    font-size: 1.3rem;
}
	.fab{
	margin-right: 3px;
	color: #262525;
}
	

element.style {
    width: 70% !important;
}
.rowone {
    display: flex;
    text-align: center !important;
    justify-content: center !important;
}
.ay{
	background:#E4E4E4;
}
}
