/* CSS Document */
.banner{
	background: url("img/bg-masthead.jpg");
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*
.form-control{

	width: 600px;
	height: 40px;
}
*/
.banner-2{
	background: url("img/bg-masthead.jpg");
	background-repeat: no-repeat;
	background-position: center 50%;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (max-width:375px){
	.first h1{
		font-size: 32px !important;
	}
	.content-text h2{
/*		font-size: 25px !important;*/
	}
	.content-text p{
		font-size: 18px !important;
	}
	.content-text{
		margin-top: 15px !important;
		margin-bottom: 15px !important;
	}
	.testimonials img{
		width: 80% !important;
	}
	
element.style {
}
h5 {
    margin-top: -12%;
}
	.banner {
		height: 500px !important;
	}
}