/* CSS Document */
.ptpt{
	padding-top: 10rem;
	padding-bottom: 5rem;
}
header {
  height: 100%!important;
}
.testimonial-item{
	transition: transform .2s; /* Animation */
}
.testimonial-item:hover {
  transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
@media (max-width:414px){
	.testimonial-item{
		padding-bottom: 0.5rem !important;
	}
	.ptpt h2{
		font-size: 50px!important;
	}
}

@media (max-width:414px){
	.testimonial-item{
		padding-bottom: 0.5rem !important;
	}
	.ptpt h2{
		font-size: 50px!important;
	}
}

