/* CSS Document */
.about{
	padding: 10rem 0;
}
.ctent{
	padding-top: 8rem !important;
}
@media (max-width:414px){
	header{
		  height: 120vh!important;
	}
	.page-section h2{
		font-size: 50px !important;
	}
	.ctent{
		padding-top: 4rem !important;
	}
	.hanh img{
		width: 385px !important;
	}
	.hanh{
		padding-bottom: 2rem;
	}
}

@media (max-width:375px){
	header{
		  height: 110vh;
	}
	.page-section h2{
		font-size: 50px !important;
	}
	.ctent{
		padding-top: 4rem !important;
	}
	.hanh img{
		width: 340px !important;
	}
	.hanh{
		padding-bottom: 2rem;
	}
}
